.text-center{
  text-align: center
}
.text-right{
  text-align: right
}
.section{
  border-top: 1px solid #eee;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
}
q{
  font-style: italic;
}


/*
 * Dirty trick for navigation with navbar :)
 */
h4:before{
  display: block;
  content: " ";
  margin-top: -90px;
  height: 90px;
  visibility: hidden;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


hr.short{
  width: 100px;
}


.bar-bottom {
  border-top: 1px solid #eee;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  box-sizing: border-box;

  font-size: 70%;
}


/*
 * Justify
 */
.justify{
  text-align: justify;
}


/*
 * Container
 */
.container {
  max-width: 800px;
  margin: auto;
}



/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .mainheader{
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .navbar {
    width: 100%;
    }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .link-right {
    margin-left: 35px;
    margin-right: 0px;
    float: right;
  }
  .navbar-link.active {
    color: #33C3F0; }
}



/* Small devices
 */
@media (max-width: 750px) {
}
