<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ElenQ Tech - {{title}} </title>

    {% block includes %}
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {% endblock includes %}
  </head>

  <body>
  <!-- page content -->
      <header class="mainheader">
        <div class="container">

        <!-- Main navigation -->
        <nav class="navbar">
          <a class="navbar-link" href="/{{ lang }}/intro.html">Intro</a>
          <a class="navbar-link" href="#">{{ _('One') }}</a>
          <a class="navbar-link" href="#">{{ _('Two') }}</a>
          <a class="navbar-link" href="#">{{ _('Three') }}</a>
          <a class="navbar-link" href="#">{{ _('Four') }}</a>

          {% set langs = {"eu": "Euskera", "en": "English", "es": "Español"} %}
          {% for l in all_langs %}
          <a class="navbar-link link-right" href="/{{l}}/{{pageName}}.html" title={{langs[l]}}>{{l}}</a>
          <!--TODO CHECK THAT PAGENAME-->
          {% endfor %}
        </nav>
        </div>
      </header>

  <div class="content">{% block content %}{% endblock content %}</div>
  <div class="bar-bottom">
    <div class="container">
      <div class="row">

        <div class="two columns">
        Copyright 2016
        </div>
        <div class="ten columns text-right">
          <p class="pre-wrap">{{ _('''Esta página ha sido desarrollada por Ekaitz Zárraga utilizando <a href="http://getskeleton.com/">Skeleton.</a> y código propio.
          Ambos se distribuyen bajo <a href="https://opensource.org/licenses/MIT">licencia MIT</a>''') }}.</p>
        </div>
      </div>
    </div>
  </div>


  </body>

  {% block scripts %}{% endblock scripts %}
</html>
