{% extends "_template.html" %}
{% set title = "Donate" %}

{% block includes %}
{{ super() }}
 <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
{% endblock includes %}

{% block content %}
{{ super() }}
  <div id="donationForm" class="donationForm container">
    <form class="pure-form">
    <fieldset>
      <legend>{{ _('Amount of donation') }}</legend>
      <label for="tier1" class="pure-radio"> <input name="donationAmount" class="donationAmount" value="5"   id="tier1" type="radio">€5</label>
      <label for="tier2" class="pure-radio"> <input name="donationAmount" class="donationAmount" value="10"  id="tier2" type="radio">€10</label>
      <label for="tier3" class="pure-radio"> <input name="donationAmount" class="donationAmount" value="20"  id="tier3" type="radio">€20</label>
      <label for="tier4" class="pure-radio"> <input name="donationAmount" class="donationAmount" value="20"  id="tier4" type="radio">€25</label>
      <label for="tier5" class="pure-radio"> <input name="donationAmount" class="donationAmount" value="50"  id="tier5" type="radio">€50</label>
      <label for="tier6" class="pure-radio"> <input name="donationAmount" class="donationAmount" value="100" id="tier6" type="radio">€100</label>
      <label for="tier7" class="pure-radio"> <input name="donationAmount" class="donationAmount" value="250" id="tier7" type="radio">€250</label>
      <label for="tier8" class="pure-radio"> <input name="donationAmount" class="donationAmount" value="0"   id="tier8" type="radio">{{_('Other')}}
        <input id="otherDonationAmount" title="Custom donation amount" type="text" class="pure-input-1-1"></label>
    </fieldset>
      <button id="donateButton" class="pure-button">Donate using <i class="fa fa-bitcoin fa-lg"></i></button>
    </form>
  </div><!--donationForm-->
{% endblock %}

{% block scripts %}
  <script>
    document.getElementById('otherDonationAmount').addEventListener('change', function(e){
      document.getElementById('tier8').value = e.target.value;
      document.getElementById('tier8').checked = true;
    });

    document.getElementById('donateButton').addEventListener('click', function(e){
      e.preventDefault();
      var buttons = document.getElementsByClassName('donationAmount')
      var i = buttons.length;
      while(i--){
        // Convert to BTC and call the BTC-URI
        if(!buttons[i].checked)
          continue;

        var value = parseFloat(buttons[i].value);
        console.log(value);

        var code = 'EUR';
        var url = 'https://bitpay.com/api/rates/';
        url = url + code;

        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function() {
          if (request.status >= 200 && request.status < 400) {
            // Success
            var resp = request.responseText;
            var parsed = JSON.parse(resp);

            // Calculate amount on BTC
            var famount = value / parsed.rate;
            if(isNaN(famount)){
              alert("{{ _('Amount must be a number') }}");
              throw('Amount not a number');
            }else if(famount > 10000){
              alert("{{ _('Amount must be lower than 10000€') }}");
              throw('Very High amount');
            }else if(famount < 0.01){
              alert("{{ _('Amount must be higher than 0.01€') }}");
              throw('Very Low amount');
            }

            // Call the URI
            var amount  = encodeURI(famount);
            var message = encodeURI("{{_('Donate to ElenQ Technology')}}");
            var label   = encodeURI("{{_('ElenQ Technology')}}");
            window.location.href="bitcoin:1JaPFKBwiP6T1QBcR98qS9CrNP2YnigeP4?amount="+amount+"&message="+message+"&label="+label;

          } else {
            // Reached with Error
            throw request.status
          }
        };
        request.onerror = function() {
          // There was a connection error of some sort
          throw request.status
        };

        request.send();
      }
    });
  </script>
{% endblock scripts %}
